
<div class="main-list">
    <div class="ngitem" *ngFor="let i of items">
        <div class="image-icon"><mat-icon>favorite</mat-icon></div>
        <div class="image-container">
  
            <img src="https://a0.muscache.com/im/pictures/cb9f5c3a-a499-49c3-9bef-17763cf61ada.jpg?im_w=720" class="main-list-image">
            
        </div>

        <div class="main-list-description">
            <div class="main-d">
                <div class="left-d">
                    <div class="title">Valencia House</div>
                    <div class="bed">2 beds</div>
                    <div class="distance">5 km away</div>
                </div>
                <div class="star">★ 5.0</div>
            </div>
            <div class="price">€100 night</div>
        </div>
    </div>

</div>



